@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.main-container{
    position: relative;
    height: 92vh;
    max-width: 100%;
    background-color: black;
    padding: 2rem 2rem 1rem 2rem;
    
}
.top-right-zoom-icons{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: .8rem;
}
.top-right-zoom-icons{
    padding: .4rem;
    
}
.main-container .top-right-zoom-icons span {
    background-color: #4A4A4A;
    display: inline-block;
    padding: .2rem .4rem;
    border-radius: 5px;
}

.zoom-user-img-container{
    padding: 3rem 2.5rem 1rem 2.5rem;
    height: 100%;
    flex-wrap: wrap;
    column-gap: .4rem;
    row-gap: .6rem;
    justify-content: center;
}
.flex{
    display: flex;
}
.flex-content{
    flex-wrap: wrap;
    column-gap: .4rem;
    row-gap: .8rem;
    justify-content: center;
}
.col{
    height: calc((100% / 5) - .8rem );
    flex-grow: 1;
    width: calc(100%/ 7 - .4rem);
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.zoom-buttons{
    height: 8vh;
    background-color: #222222;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.icon{
    text-align: center;
    font-size: 1.7rem;
    padding: 0 1rem;
    
}
.icon .txt{
    font-size: .8rem;
}
.arrow-icon{
    font-size: .7rem;
    font-weight: bold;
    align-self: center;
}
.right-button{
    position: relative;
    background-color: #4A4A4A;
    color:red;
    height: 100%;
    
}
.meeting{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .8rem;
    padding: 1rem 1rem;
}
#share-icon{
    color: #47C900;
}
.middle-button .icon{
    padding: 0rem .5rem;
}
.middle-button .arrow-icon{
    padding: 0rem .5rem;
}